In [21]:
import pandas as pd

# Read in the data
crop_country = pd.read_csv('..\data-clean\\N_use_crop_country.csv')

crop_country.head()

,country,iso3_code,region_ifa,year,crop,crop_area_k_ha,n_k_t,aver_n_rate_kg_ha,fertilizer_emission_id,ghg_type_id,reliability_score,academic_citation,created_at
0,Argentina,ARG,Latin America,2018,Fruit primary and citrus fruits and treenuts,450.000,24.082438,53.516528,NaN,NaN,NaN,"Ludemann, C.I., Gruere, A., Heffer, P. et al. ...",NaN
1,Argentina,ARG,Latin America,2018,Grassland,17300.000,81.650336,4.719673,NaN,NaN,NaN,"Ludemann, C.I., Gruere, A., Heffer, P. et al. ...",NaN
2,Argentina,ARG,Latin America,2018,Maize,9039.594,439.956488,48.669939,NaN,NaN,NaN,"Ludemann, C.I., Gruere, A., Heffer, P. et al. ...",NaN
3,Argentina,ARG,Latin America,2018,Other cereals,1875.349,86.773543,46.270610,NaN,NaN,NaN,"Ludemann, C.I., Gruere, A., Heffer, P. et al. ...",NaN
4,Argentina,ARG,Latin America,2018,Residual,4947.668,51.220470,10.352447,NaN,NaN,NaN,"Ludemann, C.I., Gruere, A., Heffer, P. et al. ...",NaN

In [24]:
# read in emission factors

emission_factors = pd.read_csv('..\data\\emission-factors.csv', encoding = 'latin-1')

emission_factors.head()

,COD,Agri-Footprint Region,Country,IPCC Climate Koppen,DE EF,DE EF Level,IE Volitisation Factor IPCC,IE EF Volatilization and redeposition,IE Leaching Factor IPCC,IE EF Leaching and runoff,EF urea IPCC,EF transport (global) (kgN/ kgCO2),EF production (global) (kgN/ kgCO2)
0,1,Middle East,Afghanistan,dry,0.009,Global,0.11,0.005,0.00,0.011,0.2,0.277,3.73
1,2,Europe,Albania,wet,0.007,Regional,0.11,0.014,0.24,0.011,0.2,0.277,3.73
2,3,Africa,Algeria,dry,0.003,Regional,0.11,0.005,0.00,0.011,0.2,0.277,3.73
3,4,Oceania,American_Samoa,wet,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.277,3.73
4,5,Europe,Andorra,wet,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.277,3.73

In [26]:
# create ISO3 code for each country in the emission factors dataset